
@font-face {
	font-family: 'Teko';
	src: url(../fonts/Teko/Teko-Light.ttf);
	font-weight: 300;
}

@font-face {
	font-family: 'Teko';
	src: url(../fonts/Teko/Teko-Regular.ttf);
	font-weight: 400;
}

@font-face {
	font-family: 'Teko';
	src: url(../fonts/Teko/Teko-Medium.ttf);
	font-weight: 500;
}

html, body {
	height:100%;
	background-color: #231F20;
	font-family: 'Teko', sans-serif;
	color: #FFFFFF;
}

/* Menu */

.scroll {
	white-space: nowrap;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}

.scroll::-webkit-scrollbar {
	display: none;
}

#menu {
	position: fixed;
	width: 100%;
	top: 0;
	padding: 1.5em 0;
	background-color: #231F20;
	text-align: right;
	z-index:10;
}

#menu ul li {
	display: inline-block;
	margin-right: 4em;
	text-align: center;
	font-weight: 500;
}

#menu ul:first-of-type {
	margin-left: 4em;
}

#menu ul li:hover {
	opacity: 0.77;
}

#menu ul li a {
	display: inline-block;
	text-decoration: none;
	font-size: 2.5em;
	color: #FFFFFF;
}

#menu ul li hr {
	width:75%;
	height: 0.25em;
	margin: -0.5em auto;
	border: 0;
	background-color: #FFFFFF;
}

/* Container */

#container {
	max-width: 75em;
	height: calc(100% - 6em);
	margin: 6em auto;
}

/* Profile */

#profile {
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	justify-content: center;
}

#profile_content {
	position: fixed;
}

#profile_content #logo {
	width: 10em;
}

#profile_content #name {
	font-size: 2.8em;
	margin-top: 0.3em;
}

#profile_content p {
	text-align: center;
	font-size: 1.8em;
}

/* Main */

#main {
	width: 50%;
	float:right;
	margin-bottom: 3em;
}

#main .title {
	display: inline-block;
	margin-top: 2em;
	margin-bottom: 1em;
}

#main .title h3 {
	font-size: 2.5em;
}

#main .title hr {
	border: 0;
	height: 0.25em;
	background-color: #FFFFFF;
	width:75%;
	margin: -0.5em auto;
}

#main .content {
	margin-top: 1em;
}

#main .content p {
	font-size: 1.8em;
}

#main .content dt {
	margin-top: 0.5em;
	font-size: 1.8em;
}

#main .content dd {
	font-weight: 400;
	font-size: 1.3em;
}

#main .content ul li:before {
	content: '\2022';
	margin-right: 0.4em;
	font-size: 1.8em;
}

#main .content ul li p {
	font-size: 1.8em;
	display: inline-block;
	margin-right: 0.5em;
}

.anchor {
	display: block;
	height: 7.5em;
	margin-top: -7.5em;
	visibility: hidden;
}

.light {
	font-weight: 300;
	color: #B1BABA;
}

/* Icons */

.social:before {
	vertical-align: middle;
	display: inline-block;
	content: "";
	background-repeat: no-repeat;
	background-size: 0.8em 0.8em;
	height: 0.8em;
	width: 0.8em;
	margin-bottom: 0.1em;
	margin-left: 0.1em;
}

.social:hover {
	filter: brightness(1.5);
}

.github:before {
	background-image: url('../images/github.svg');
}

.hackerrank:before {
	background-image: url('../images/hackerrank.svg');
}

.instagram:before {
	background-image: url('../images/instagram.svg');
}

.fb:before {
	background-image: url('../images/fb.svg');
}

.medium:before {
	background-image: url('../images/medium.svg');
}

.google-play:before {
	background-image: url('../images/google-play.svg');
}

/* Mobile */

@media only screen and (max-device-width: 600px) {

	/* Menu */

	#menu {
		padding: 3em 0;
	}

	#menu ul li {
		margin-right: 6em;
	}

	#menu ul:first-of-type {
		margin-left: 4em;
	}

	#menu ul li:last-of-type {
		margin-right: 4em;
	}

	#menu ul li a {
		font-size: 6em;
	}

	#menu ul li hr {
		height: 0.55em;
	}

	/* Container */

	#container {
		height: calc(100% - 17em);
		margin: 17em auto;
	}

	/* Profile */

	#profile {
		width: 100%;
		height: 40em;
		margin-top: 4em;
	}

	#profile_content {
		position: relative;
	}

	#profile_content #logo {
		width: 20em;
	}

	#profile_content #name {
		font-size: 6em;
		margin-top: 0.7em;
	}

	#profile_content p {
		font-size: 4em;
	}

	/* Main */

	#main {
		width: 100%;
		float: left;
		margin: 3em 4em 5em 4em;
	}

	#main .title h3 {
		font-size: 5.5em;
	}

	#main .title hr {
		height: 0.5em;
	}

	#main .content {
		margin-top: 2em;
	}

	#main .content p {
		font-size: 4em;
	}

	#main .content dt {
		margin-top: 0.5em;
		font-size: 4em;
	}

	#main .content dd {
		font-size: 3em;
	}

	#main .content ul li::before {
		font-size: 4em;
	}

	#main .content ul li p {
		font-size: 4em;
	}

	.anchor {
		height: 15em;
		margin-top: -15em;
	}
}
